.container {
  position: relative;
  margin: 2rem auto;
  padding: 2rem;
}

.avatar img {
  max-width: 240px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
}
.contact li {
  display: inline-block;
  list-style-type: none;
  line-height: 2;
  margin-right: 0.5em;
}

.about h1 {
  margin-bottom: 0;
}
.about .jobtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .about {
    text-align: center;
  }
}
h2 {
  text-transform: uppercase;
}